<span class="fas fa-spinner spinner" *ngIf="loading"></span>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <p class="navbar-item">
      Products App
    </p>
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a
        class="navbar-item"
        [routerLink]="['/welcome']"
        routerLinkActive="is-active"
      >
        Home
      </a>

      <a
        class="navbar-item"
        [routerLink]="['/products']"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Products List
      </a>
      <a
        class="navbar-item"
        [routerLink]="['/products', 0, 'edit']"
        routerLinkActive="is-active"
      >
        Add Product
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a
            class="button is-primary"
            *ngIf="!isMessageDisplayed"
            (click)="displayMessages()"
          >
            <strong>Show Messages</strong>
          </a>
          <a
            class="button is-primary"
            *ngIf="isMessageDisplayed"
            (click)="hideMessages()"
          >
            <strong>Hide Messages</strong>
          </a>
          <a
            *ngIf="!isLoggedIn"
            class="button is-light"
            [routerLink]="['/login']"
          >
            Log in
          </a>
          <a *ngIf="isLoggedIn" class="button is-light" (click)="logOut()">
            Log Out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div
  class="container"
  [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''"
>
  <div class="container">
    <div class="columns">
      <div class="column is-four-fifths">
        <router-outlet #o="outlet"></router-outlet>
      </div>
      <div class="column is-one-fifth">
        <router-outlet name="popup"></router-outlet>
      </div>
    </div>
  </div>
</div>
