<div class="columns">
  <div class="column">
    <app-card
      [cardNumber]="cardForm.get('cardNumber').value"
      [name]="cardForm.get('cardName').value"
      [expiration]="cardForm.get('cardExpiration').value"
    ></app-card>
  </div>
  <div class="column">
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
      <app-input
        [control]="cardForm.get('cardName')"
        labelName="Name"
      ></app-input>
      <app-input
        [control]="cardForm.get('cardNumber')"
        labelName="Card Number"
      ></app-input>

      <div class="columns">
        <div class="column">
          <app-input
            [control]="cardForm.get('cardExpiration')"
            labelName="Expiration (MM/YY)"
          ></app-input>
        </div>
        <div class="column">
          <app-input
            [control]="cardForm.get('cardSecurityCode')"
            labelName="Security Code"
          ></app-input>
        </div>
      </div>
      <div class="buttons">
        <button
          class="button is-primary"
          type="submit"
          [disabled]="cardForm.invalid"
        >
          Submit
        </button>
        <button
          class="button is-primary"
          type="button"
          (click)="onResetClick()"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
