.radio-list {
  .radio {
    display: block;

    & + .radio {
      margin-left: 0;
      margin-top: 0.5em;
    }
  }
}
// .ng-invalid:not(form).ng-touched {
//   border: 1px solid red;
// }

.field-error {
  border: 1px solid red;
}
